.about-section {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: var(--clr-grey);
  padding: 2em;
  margin-top: 10vh;
  justify-content: center;
}

.about-section * {
  color: var(--clr-dark);
}

.about-head {
  display: flex;
  position: absolute;
  width: 100%;
  top: 10%;
  justify-content: center;
}

.about-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  transition: transform 0.5s;
}