header {
  display: flex;
  background-attachment: scroll;
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 100;
  background-color: rgba(8, 11, 18, 0.5);
  backdrop-filter: blur(10px);
}

header .line-spacer {
  height: 80%;
  margin: auto;
  margin-left: 3rem;
}

header .links {
  display: flex;
  width: 50%;
  right: auto;
  left: auto;
  height: 100%;
  align-items: center;
}

header .links button {
  display: flex;
  flex: 0.1;
  height: min-content;
}

header h1 {
  text-wrap: nowrap;
  margin: auto;
}

header .header-logo {
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
  fill: var(--clr-light);
}