.portfolio-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 5vh;
}

.portfolio-item, .portfolio-item-reverse {
    position: relative;
    display: flex;
    height: min-content;
    width: 49.9%;
}

.portfolio-item:hover .portfolio-image {
    mask-position: 0 0;
}

.portfolio-item-reverse:hover .portfolio-image {
    mask-position: 100% 0;
}

/* image handling */

.portfolio-image {
    position: absolute;
    display: flex;
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 0) 100%
    );
    mask-position: 99% 0;
    mask-size: 200% 100%;
    transition: mask-position 1s ease;
}

.portfolio-item-reverse .portfolio-image {
    mask-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 0) 100% 
    );
    mask-position: 0 0;
}

.portfolio-image-masker {
    overflow: hidden;
    align-items: center;
}

.portfolio-image-masker img {
    position: relative;
    left: 0;
    top: var(--image-top-value, 0);
}

/* content section */

.portfolio-content {
    height: min-content;
    width: 90%;
    display: flex;
    margin: 10% 5%;
    padding: 0.5rem 0.5em;
}

.portfolio-content .portfolio-text {
    max-width: 50%;
    background-color: rgba(8, 11, 18, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1em;
    padding: 1rem;
}

.portfolio-text .title {
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 600;
}

.portfolio-text .description {
    font-size: 1rem;
    padding-left: 1em;
}

.portfolio-text .credit {
    font-size: 0.75rem;
    text-wrap: nowrap;
    margin-top: 1em;
    opacity: 50%;
}

.portfolio-text .credit-link {
    font-size: 1em;
    text-wrap: nowrap;
    text-decoration: solid;
}

.links {
    z-index: 3;
    height: min-content;
    margin-left: auto;
    left: 0px;
    position: relative;
    display: flex;
}

.links a {
    display: block;
    padding: 0.5em 1em;
    border: 0.05rem solid;
    border-right: 0px;
    border-color: var(--clr-grey);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(8, 11, 18, 0.3);
    backdrop-filter: blur(4px);
    text-decoration: none;
    transition: background-color 0.5s, border-color 0.8s, color 0.8s;
}

.links a:last-child  {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 0.05em solid;
    border-left: 0px;
}

.links a:hover {
    color: var(--clr-dark);
    border-color: var(--clr-dark);
    background-color: rgba(242, 242, 242, 0.7);
}



