:root {
    --clr-dark: #080b12; /* rgb = (8, 11, 18) */
    --clr-light: #f2f2f2; /* rgb = (242, 242, 242) */
    --clr-grey: #d4d4d8;
    --clr-red: #ff3333;
    --clr-blue: #00bfff;
    --clr-yellow: #ffcc00;
    --clr-pastel-red: #fecdd3;
    --clr-pastel-blue: #bfdbfe;
    --clr-pastel-yellow: #fde68a;
    --clr-pastel-dark-red: #fb6a7b;
    --clr-pastel-dark-blue: #68abfd;
    --clr-pastel-dark-yellow: #fddf68;

    --dev-border-red: transparent;
    --dev-border-blue: transparent;

    background-color: var(--clr-dark);
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
    background-color: transparent;
    color: var(--clr-light);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

section {
    display: flex;
    position: relative;
    width: 100%;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.body-container {
    display: flex;
    margin-top: 2rem;
    border: 0.1rem solid var(--dev-border-red);
    padding: 0.5em;
}

.body-container * {
    border: 0.1rem solid var(--dev-border-blue);
}

header {
    display: flex;
    background-attachment: scroll;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 100;
    background-color: rgba(8, 11, 18, 0.5);
    backdrop-filter: blur(10px);
}

header .line-spacer {
    height: 80%;
    margin: auto;
    margin-left: 3rem;
}

header button {
    margin: auto 5px;
}

header h1 {
    text-wrap: nowrap;
    margin: auto;
}

header .header-logo {
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
    fill: var(--clr-light);
}

footer {
    display: flex;
    height: 15vh;
    width: auto;
    padding: 5em;
    margin-top: 3em;
    justify-content: center;
}

footer span {
    background-color: transparent;
}