:root {
    --clr-dark: #232730; /* rgb = (8, 11, 18) */
    --clr-light: #f0f0f0; /* rgb = (242, 242, 242) */
    --clr-grey: #b4b4b4;
    --clr-red: #df3a3a;
    --clr-blue: #5abdde;
    --clr-yellow: #ddc45e;
    --clr-pastel-red: #eaafb6;
    --clr-pastel-blue: #91b2db;
    --clr-pastel-yellow: #e8d898;
    --clr-pastel-dark-red: #dd7783;
    --clr-pastel-dark-blue: #619adf;
    --clr-pastel-dark-yellow: #ebd063;

    --dev-border-red: red;
    --dev-border-blue: cyan;

    background-color: var(--clr-dark);

    min-height: 100vh;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
    background-color: transparent;
    color: var(--clr-light);
    border: 0.1rem solid var(--dev-border-blue)
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

section {
    display: flex;
    position: relative;
    width: 100%;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.body-container {
    display: flex;
    margin-top: 2rem;
    border: 0.1rem solid var(--dev-border-red);
    padding: 0.5em;
}

.body-container * {
    border: 0.1rem solid var(--dev-border-blue);
}

footer {
    display: flex;
    height: 15vh;
    width: auto;
    padding: 5em;
    margin-top: 3em;
    justify-content: center;
}

footer span {
    background-color: transparent;
}